@charset 'utf-8';
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Verdana';
}
nav{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	background-color: #206020;
}
button{
	margin: 10px 10px 0px 10px;
	width: 180px;
	height: 40px;
	border: none;
	background-color: #408040;
	color: #ffffff;
	font-size: 20px;
}
button:hover{
	cursor: pointer;
	background-color: #509050;
}
.error{
	padding-top: 4px;
	margin-bottom: 10px;
	height: 30px;
	background-color: #c02020;
	color: #ffffff;
	text-align: center;
}
#container{
	margin: 60px 0px 100px 300px;
	width: 400px;
	height: 1000px;
}
input{
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid #dddddd;	
	background-color: #fafafa;
}
#defaultSearch input{
	width: 400px;
	height: 40px;
}
.red{
	border-bottom: 1px solid #c02020;
}