@charset 'utf-8';
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Verdana';
}
nav{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 204px;
	height: 100%;
	background-color: #f0f000;
	box-shadow: 2px 0 6px #aaaaaa;
}
nav img{
	margin-left: 10px;
	width: 180px;
	height: 180px;
}
#volume{
	position: absolute;
	left: 20px;
	bottom: 20px;
	width: 160px;
	height: 234px;
	background-color: #ffffff;
	border-radius: 6px;
}
#volume p{
	margin: 4px auto 0px auto;
	width: 140px;
	height: 22px;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #eeeeee;
}
#progress{
	position: absolute;
	left: 4px;
	bottom: 4px;
	width: 152px;
	border-radius: 6px;
}
.page{
	margin: 10px 10px 0px 10px;
	width: 180px;
	height: 40px;
	border: none;
	background-color: #d06000;
	color: #ffffff;
	font-size: 20px;
	border-radius: 4px;
}
.page:hover{
	cursor: pointer;
	background-color: #e07000;
}
.errorWrapper{
	height: 40px;
}
.error{
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 10px;
	height: 30px;
	background-color: #c02020;
	color: #ffffff;
	text-align: center;
	border-radius: 4px;
}
#container{
	margin: 20px 0px 100px 300px;
	width: 500px;
	height: 600px;
}
#searchWrapper{
	height: 490px;
}
input{
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid #dddddd;	
	background-color: #fafafa;
	border-radius: 6px;
}
#defaultSearch input, #alternativeSearch input, #defaultAdd input{
	width: 400px;
	height: 40px;
}
#change{
	clear: both;
	margin-bottom: 10px;
	width: 400px;
	height: 30px;
	background-color: #404040;
	border-radius: 4px;
	margin-top: 50px;
	color: #ffffff;
	text-align: center;
	border: none;
}
#change:hover{
	cursor: pointer;
	background-color: #505050;
}
#alternativeSearch input:nth-child(2), #alternativeSearch input:nth-child(3){
	width: 140px;
	height: 40px;
}
.red{
	border-bottom: 1px solid #c02020;
}
#defaultSearch .send, #alternativeSearch .send, #defaultAdd .send{
	padding: 0px;
	float: right;
	width: 90px;
	height: 90px;
	background-color: #f04000;
	border: 6px solid #ffffff;
	box-shadow: 2px 2px 2px #bbbbbb;
	border-radius: 45px;
	font-size: 18px;
	color: #ffffff;
}
#noActive{
	display: none;
}
#defaultSearch .send:hover, #alternativeSearch .send:hover, #defaultAdd .send:hover{
	cursor: pointer;
	background-color: #f06000;
}
#defaultAdd p{
	margin-bottom: 10px;
	width: 400px;
	text-align: center;
	font-size: 10px;
	color: #808080;
}
h2{
	clear: both;
}
.result{
	display: none;
	padding: 10px 2%;
	margin: 10px 0px;
	width: 100%;
	box-shadow: 2px 2px 4px #bbbbbb;
	border: 1px solid #dddddd;
	border-radius: 6px;
}
.result:first-child{
	display: inline-block;
}
.result p{
	padding: 4px 0px;
	border-bottom: 1px dotted #bababa;
}
.result p:last-child{
	border: none;
}
.result span{
	margin-right: 20px;
	color: #aaaaaa;
}
.pager{
	margin-top: 10px;
	width: 80px;
	height: 40px;
	background-color: #404040;
	border-radius: 4px;
	color: #ffffff;
	text-align: center;
	border: none;
	outline: none;
}
.pager:hover{
	cursor: pointer;
	background-color: #505050;
}