@charset 'utf-8';
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Verdana';
}
@media all and (min-width: 810px){
	nav{
		width: 204px;
		height: 100%;	
	}
	nav img{
		width: 180px;
		height: 180px;	
	}
	#volume{
		left: 20px;
		bottom: 20px;
		width: 160px;
		height: 234px;	
	}
	#volume p{
		font-size: 12px;
		height: 22px;
	}
	#progress{
		width: 152px;
		height: 0px;
	}
	.page{
		margin: 10px 10px 0px 10px;
		width: 180px;
		height: 40px;
		font-size: 20px;
	}
	#container{
		margin: 20px 0px 100px 300px;
		width: 500px;
	}
	#defaultSearch input, #alternativeSearch input, #defaultAdd input, #change{
		width: 400px;
	}
	#change{
		margin-top: 50px;
	}
	#defaultSearch .send, #alternativeSearch .send, #defaultAdd .send{
		width: 90px;
		height: 90px;	
		font-size: 18px;
	}
	#defaultAdd p{
		width: 400px;
		font-size: 10px;
	}
	#help{
		left: 232px;
		width: 100%;
	}
	#description{
		width: 536px;
		border-radius: 0px 6px 0px 0px;
	}
}
@media all and (max-width: 809px){
	nav{
		width: 100%;
		height: 94px;
	}
	nav img{
		width: 90px;
		height: 90px;	
	}
	#volume{
		right: 5px;
		bottom: 5px;
		width: 208px;
		height: 50px;	
	}
	#volume p{
		font-size: 10px;
		height: 16px;
	}
	#progress{
		width: 0px;
		height: 22px;
	}
	.page{
		float: right;
		margin: 5px;
		width: 99px;
		height: 30px;
		font-size: 16px;
	}
	#container{
		margin: 114px auto 100px auto;
		width: 90%;
	}
	#defaultSearch input, #alternativeSearch input, #defaultAdd input, #change{
		width: 100%;
	}
	#change{
		margin-top: 10px;
	}
	#defaultSearch .send, #alternativeSearch .send, #defaultAdd .send{
		width: 70px;
		height: 70px;	
		font-size: 14px;
	}
	#defaultAdd p{
		width: 100%;
		font-size: 9px;
	}
	#help{
		width: 100%;
	}
	#up{
		right: 5%;
	}
	#description{
		width: 100%;
	}
}
nav{
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #f0f000;
	box-shadow: 2px 0 6px #aaaaaa;
}
nav img{
	margin: 0px 10px;
}
#volume{
	position: absolute;
	background-color: #ffffff;
	border-radius: 6px;
}
#volume p{
	margin: 4px auto 0px auto;
	width: 90%;
	text-align: center;
	color: #808080;
	border-bottom: 1px solid #eeeeee;
}
#progress{
	position: absolute;
	left: 4px;
	bottom: 4px;
	border-radius: 6px;
}
.page{
	border: none;
	outline: none;
	background-color: #d06000;
	color: #ffffff;
	border-radius: 4px;
}
.page:hover{
	cursor: pointer;
	background-color: #e07000;
}
.errorWrapper{
	height: 40px;
}
.error{
	display: inline-block;
	padding: 4px 10px;
	margin-bottom: 10px;
	height: 30px;
	background-color: #c02020;
	color: #ffffff;
	text-align: center;
	border-radius: 4px;
}
#container{
	height: 500px;
}
#searchWrapper{
	height: 490px;
}
input{
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-bottom: 1px solid #dddddd;	
	background-color: #fafafa;
	border-radius: 6px;
}
#defaultSearch input, #alternativeSearch input, #defaultAdd input{
	height: 40px;
}
#change{
	clear: both;
	margin-bottom: 10px;
	height: 30px;
	background-color: #404040;
	border-radius: 4px;
	color: #ffffff;
	text-align: center;
	border: none;
}
#change:hover{
	cursor: pointer;
	background-color: #505050;
}
#alternativeSearch input:nth-child(2), #alternativeSearch input:nth-child(3){
	width: 140px;
	height: 40px;
}
.red{
	border-bottom: 1px solid #c02020;
}
#defaultSearch .send, #alternativeSearch .send, #defaultAdd .send{
	padding: 0px;
	float: right;
	background-color: #f04000;
	border: 6px solid #ffffff;
	box-shadow: 2px 2px 2px #bbbbbb;
	border-radius: 45px;
	color: #ffffff;
}
#noActive{
	display: none;
}
#defaultSearch .send:hover, #alternativeSearch .send:hover, #defaultAdd .send:hover{
	cursor: pointer;
	background-color: #f06000;
}
#defaultAdd p{
	margin-bottom: 10px;
	text-align: center;
	color: #808080;
}
h2{
	clear: both;
}
.result{
	display: none;
	padding: 10px 2%;
	margin: 10px 0px;
	width: 100%;
	box-shadow: 2px 2px 4px #bbbbbb;
	border: 1px solid #dddddd;
	border-radius: 6px;
}
.result:first-child{
	display: inline-block;
}
.result p{
	padding: 4px 0px;
	border-bottom: 1px dotted #bababa;
}
.result p:last-child{
	border: none;
}
.result span{
	margin-right: 20px;
	color: #aaaaaa;
}
.pager{
	margin: 10px 0px;
	width: 80px;
	height: 40px;
	background-color: #404040;
	border-radius: 4px;
	color: #ffffff;
	text-align: center;
	border: none;
	outline: none;
}
.pager:hover{
	cursor: pointer;
	background-color: #505050;
}
#help{
	position: fixed;
	bottom: -220px;
	height: 260px;
}
#up{
	position: absolute;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	border-radius: 4px 4px 0px 0px;
	background-color: #40a040;
	color: #ffffff;
	font-size: 24px;
}
#up:hover{
	cursor: pointer;
	background-color: #50b050;
}
#description{
	position: absolute;
	top: 40px;
	height: 220px;
	padding: 8px 20px;
	background-color: rgba(40, 40, 40, 0.9);
	text-align: justify;
	color: #dddddd;
	font-size: 11px;
}
#description li{
	list-style-type: none;
	padding: 0px 20px;
}